
body {
    background-color: aquamarine;
}

main {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;

}
main h1 {
    color: darkblue;
    border-bottom: 2px solid black;

}
.container {
    display: flex;
    flex-direction: column;
    background-color: darkgoldenrod;
    width: 380px;
    height: 560px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.title {
    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}


.input {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.input input {
    
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    font: bold 1.2rem serif;
    text-align: center;

}

.input label {
    font: bold 1.4rem serif;
    color: darkblue;
}

button {
    margin-top: 20px;
    width: 300px;
    height: 40px;
    font: bold 1.4rem serif;
    background-color: black;
    color: aquamarine;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0 0 10px black;
    background-color: black;
    color: aquamarine;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;




}
