

body {
    background-color: aquamarine;
}

header , main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
    height: 40px;
    
    
}

.bot {
    padding-top: 60px;
    
}